
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
h1,h2,h4,h5,h3{
    margin: 0;
}
.page1{
    width: 100%;
    height: 744px; 
    background-color: black;
    border-bottom: 5px solid rgb(55, 46, 46);
   
}
.page1 img{
    width: 100%;
    height: 745px;
    opacity:0.3;
    position: relative;
    
}
.header{
    position: absolute;
    width: 100%;
    height: 100px;
    top: 0;
    align-items: center;
    

}
.navbar{
    position: absolute;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between
    
}
.logo img{
width: 167px;
height: 80px;
margin-left: 60px;
margin-top: 10px;
opacity: 2;



}
.signin select{
    padding: 10px;
    margin-right: 30px;
    color: white;
    font-weight: bolder;
    background-color: transparent;

}
.signin button{
    width: 94px;
    height: 43px;
    color: white;
    background-color: red;
    border-radius: 8px;
    border-color: red;
    margin-right: 65px;
    margin-top: 30px;
    cursor: pointer;


}
.middle{
    position: absolute;
    width: 855px;
    height: 337px;
top: 237px;
right: 293px;
align-items:center;
display: flex;
flex-direction: column;

}
.para1{
    width: 81%;
    height: 160px;

}
.para1 h1{
    
    width: 100%;
    height: 80px;
    font-size: 66px;
    color: white;
    
}
.para1 h2{
    width: 80%;
    height: 70px;
    color: white;
    font-size: 66px;
    
}
.para2{
    width: 481px;
    height: 42px;
}
.para2 h4{
font-size: 25px;
color: white;
font-weight: bolder;
}
.para3{
    width: 77%;
    height: 63px;
    

}
.para3 p{
    font-size: 19px;
    color: white;
    font-weight: bolder;
    align-items: center;
}
.para4{
    width: 100%;
    height: 60px;
    display: flex;
}
.para4 para41{
    width: 710px;
    height: 64px;

}
.para4-1 input{
    width: 536px;
    height: 52px;
}



.para4 para4-2 {
    width: 180px;
    height: 100%;
    
}
button{
    width: 250px;
    height: 100%;
    color: white;
    background-color: red;
    font-weight: bolder;
    cursor: pointer;

}
/* page2 */
.page2{
    width: 100%;
    height: 440px;
    background-color: rgb(0, 4, 6);
    position: relative;
    border-bottom: 5px solid rgb(68, 60, 60);
    overflow-x: hidden;
}
.firstline{
    position: absolute;
    width:457px ;
    height:64px ;
    top: 75px;
    left: 175px;
}
.firstline h1{
    font-size: 50px;
    color: white;
}
.secondline{
    position: absolute;
    width: 564px;
    height: 141px;
    top: 155px;
    left: 175px;
}
.secondline h1{
    font-size: 32px;
    color: white;
}
.images{
    width: 573px;
    height: 419px;
    position: absolute;
    top: 0;
    left: 800px;
}
.images img{
    width: 500px;
    height: 350px;
}
.page2 video{
    margin-left: 818px;
    width: 425px;
    margin-top: 74px;
    height: 223px;
}

.page3{
    position: relative;
    width: 100%;
    height: 440px;
    border-bottom: 5px solid rgb(76, 68, 68);

   
}
.page3photosection{
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background-color:black;
   
}
.page3image{
    position: absolute;
    top: 54px;
    left: 60px;
    width: 84%;
    height: 80%;

}
.page3firstimage img{
    width: 560px;
    height: 351px;
    
}
.page3subimage{
    width: 313px;
    height: 84px;
    background-color: black;
    border: 1px solid rgb(161, 146, 146);
    border-radius: 8px;
    position: absolute;
    top: 249px;
    left: 126px;
    display: flex;
}.page3subimage1{
     width:76px ;
     height: 100%;
}
.page3subimage1 img{
    width: 52px;
    height: 70px;
    margin-top: 5px;
    margin-left: 12px;
}
.page3subimage2{
    width: 167px;
    height: 100%;
}
.page3subimage2para1{
    width: 158px;
    height: 23px;
    font-size: 22px;
    margin-top: 17px;
    color: white;
}
.page3subimage2para2{
    width: 139px;
    height: 23px;
    font-size: 22px;
    color: blue;
}
.page3subimage3{
    width: 68px;
    height: 100%;
}
.page3subimage3 img{
    width: 52px;
    margin-top: 17px;
}
.page3paragraph{
    position: absolute;
    width: 50%;
    height: 100%;
    background-color:black;
    left: 760px;
    display: flex;
    flex-direction: column;
}
.page3firstpara {
    width: 100%;
    height: 50%;
    background-color:black;
}
.page3firstpara h1{
    width: 72%;
    height: 42%;
    background-color: black;
    font-size: 41px;
    margin-top: 126px;
    color: white;
}
.page3secondpara{
    width: 100%;
    height: 50%;
    background-color:black;
}
.page3secondpara h4{
    width: 67%;
    height: 47%;
    font-size: 26px;
    color: white;
    margin-top: 20px;

}
/* page4 */
.page4{
    width: 100%;
    height: 460px;
    background-color:black;
    display: flex;
    border-bottom: 5px solid rgb(69, 64, 64);
}
.page4firsthalf{
    width: 50%;
    height: 100%;
    background-color:black;
    
}

.page4firsthalf h1{
    color: white;
    font-size: 45px;
    margin-top: 150px;
    margin-left: 152px;
}.page4firsthalf h6{
    color: white;
    font-size: 28px;
    margin-top: 0;
    margin-left: 148px;
}


.page4secondhalf{
    width: 50%;
    height: 100%;
    background-color:black;
    position: relative;
}
.page4secondhalfimage{
    width: 100%;
    height: 100%;
}
.page4secondhalfimage img{
    width: 66%;
    margin-left: 78px;
    margin-top: 58px;
    position: absolute;
}
.page4secondhalf video{
    position: absolute;
    top: 92px;
    left: 171px;
    width: 319px;
}
/* }page5 */
.page5{
width: 100%;
height: 480px;
background-color:black;
display: flex;
border-bottom: 5px solid rgb(65, 61, 61);
}
.page5firsthalf{
    width: 50%;
    height: 100%;
    background-color:black;
    position: relative;
}
.page5firsthalf img{
position: absolute;
width: 60%;
top: 65px;
left: 254px;
}
.page5secondhalf{
    width: 50%;
    height: 100%;
    background-color:black;
}
.page5secondhalf h1{
    color: white;
    font-size: 53px;
    margin-top: 127px;
    width: 77%;
}
.page5secondhalf h4{
    color: white;
    font-size: 30px;
    width: 84%;
    margin-top: 13px;
}
/* page6 */
.page6{
    width: 100%;
    height: 970px;
    background-color:black;
    position: relative;
    border-bottom: 5px solid rgb(65, 61, 61);
}

.page6faq{
    position: absolute;
    width: 724px;
    height: 94px;
    top: 80px;
    left: 409px;
    
}
.page6faq h1{
    font-size: 49px;
    color: white;
    font-weight: bolder;
    
}.page6paragraphs{
    width:52% ;
    height:  517px;;
    position: absolute;
    left: 340px;
    top: 169px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.page61,.page62,.page63,.page64,.page65,.page66{
    width: 100%;
    height: 15%;
    background-color: #303030;
    display: flex;
    

}
h3{
    width: 48%;
    height: 50%;
    font-size: 26px;
    margin-left: 50px;
    margin-top: 30px;
    color: white;
    font-weight: bolder;

}
.page6paragraphs img{
    width: 50px;
    height: 50px;
    margin-left: 275px;
    margin-top: 10px;

}.page6lastpara{
    width: 571px;
    height: 43px;
    position: absolute;
    top: 753px;
    left: 438px;
    color:white;
    font-size: 18px;
}
.page6final{
    width: 723px;
    height: 73px;
    position: absolute;
    top: 790px;
    left: 372px;
    display: flex;
    border: black;
}
.page6finalmail{
    width: 70%;
    height: 100%;
    left: 0;

}
.page6finalmail form {
    width: 100%;
    height: 92%;
}
.page6finalmail form input{
    width: 100%;
    height: 100%;
}
.page6finalbutton{
    width: 30%;
    height: 100%;
    left: 507px;

}
.page6finalbutton button{
    width: 100%;
    height: 100%;
    font-size: 27px;

}
/* page7 */
.page7{
    width: 100%;
    height: 400px;
    background-color:black;
    position: relative;
}
.page7footer{
    width: 50%;
    height: 73%;
    position: absolute;
    top: 87px;
    left: 310px;
    /* background-color: rgb(216, 209, 223); */
}
.page7last{
    width: 100%;
    height: 68%;
    /* background-color: rgb(83, 83, 94); */
    display: flex;
    list-style: none;
    font-size: 13px;
    color: #737373;

}
.page7last1,.page7last2,.page7last3,.page7last4{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.page7footer h4{
    color: #737373;
}
.page7footer select{
    padding: 13px;
    color:#737373;
    background-color: transparent;
    border: 1px solid#737373 ;
}
.page7footer h5{
    margin-top: 11px;
    color: #737373;
}
